* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {

  font-family: 'Roboto', sans-serif;
  background-image: url(https://image.freepik.com/fotos-gratis/fundo-pintado-de-cinza_53876-94041.jpg);
  background-size: auto 100vh;
  font-size: 13px;
}

@media (min-width: 400px) {
  body {
    font-size: 15px;
  }

}

@media (min-width: 600px) {
  body {
    font-size: 19px;
  }
}

header {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
  color: rgb(162, 150, 216);
}

a:hover {
  text-decoration: underline;
}

.menu a {
  display: block;
  padding: 8px 26px;
  font-family: 'Play', sans-serif;
  transition: 0.6s;

}

.menu a:hover {
  color: antiquewhite;
  background-color: rgb(73, 73, 73);
  border-radius: 28px;

}

.menu {
  background-color: rgb(41, 41, 41);
  height: 40px;
  width: 100vw;
  position: fixed;
  top: 0;
  z-index: 1;
}

.menu li {
  list-style: none;

}

.menu ul {
  display: flex;
  justify-content: space-around;
}

.site-title,
.site-subtitle {
  text-align: center;
  color: rgb(235, 235, 235);
}

.site-subtitle {
  font-style: italic;
  font-family: 'Play', sans-serif;

  color: rgb(43, 43, 43);
}

.site-title {
  font-family: 'Righteous', cursive;
}

.sobre,
.contato,
.portfolio {
  padding: 1.5em;
  font-size: 1.2em;
  min-height: 100vh;
}

@media (min-width: 1200px) {
  .container {
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;


  }
}

.sobre h2,
.contato h2,
.portfolio h2 {
  margin-bottom: 2em;
}

.sobre p {
  margin-bottom: 0.6em;
  text-indent: 1.1em;
}

.sobre a {
  color: rgb(34, 14, 66);
}

.portfolio .grid {
  display: grid;
  gap: 2em;
}

@media (min-width: 560px) {
  .portfolio .grid {
    grid-template-columns: 190px 190px;
  }
}

@media (min-width: 800px) {
  .portfolio .grid {
    grid-template-columns: repeat(2, 260px);
    align-content: center;
    justify-content: center;
    height: calc(100vh - 8em - 48px);
  }
}

.portfolio figure {
  text-align: center;
}

.img-portfolio {
  height: 180px;
  width: 180px;
  object-fit: cover;
  object-position: left bottom;
  box-shadow: 8px 6px 10px rgba(48, 48, 48, 0.767);
  transition: 1000ms;
}

.portfolio a {
  color: #000;
}

.titulos {
  font-family: 'Play', sans-serif;
  color: rgb(216, 216, 216);

}

figure {
  margin: 8px;
}

@media (min-width: 800px) {
  .img-portfolio {
    width: 250px;
    height: 250px;
  }
}

.card {
  position: relative;
  transform-style: preserve-3d;
  transition: transform 2s;
}

.flip-card {
  perspective: 500px;
}

.flip-card:hover .card {
  transform: rotateY(180deg);
}


.card-front,.card-back {
  backface-visibility: hidden;
  left: 0;
  position: absolute;
  
}

.card-back {
  background-color: rgb(41, 41, 41);
  height: 180px;
  width: 180px;
  transform: rotateY(180deg);
  top: 6px;
}

@media (min-width:800px) {
  .card-back {
    background-color: rgb(41, 41, 41);
    height: 250px;
    width: 250px;
    transform: rotateY(180deg);
    top: 6px;
  }
}

.contato {
  min-height: 50vh;
}

.contato a {
  color: #000;
  font-size: 3.9em;
  padding: 10px;
}

.contato a:hover {
  font-size: 3.8em;
  text-shadow: 0px 0px 14px rgb(209, 235, 255);
  transition: 0.3s;
}

.sobre .foto {
  float: left;
  margin-right: 1em;
}
.sobre .foto img {
  clip-path: polygon(0 0, 85% 0, 100% 15%, 100% 100%, 80% 100%, 15% 100%, 0 85%, 0 16%);
  box-shadow: 3px 3px 6px rgb(73, 73, 73);
}